<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/logo.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <title> Portfólio Rapha</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

  <aside id='header'>
    <section class="profile">
      <img src="../static/img/p1.png" alt="Foto da Rapha">
      <h1>Raphaela Oliveira Tatto </h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/raphaela-oliveira-tatto-7975a2276/">
          <i class="bi bi-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/raphatatto">
          <i class="bi bi-github"></i>
        </a>
        <a target="_blank" href="https://instagram.com/raphatatto_?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr">
          <i class="bi bi-instagram"></i>
        </a>
             </div>


    </section>

    <nav id='navbar' class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
              aria-hidden="true"></i>Início</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i>Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi-list-check" aria-hidden="true"></i>Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi-file-earmark" aria-hidden="true"></i>Currículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#informacao"><i class="bi bi-info-circle" aria-hidden="true"></i>Informações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i>Contato</a>
        </li>


      </ul>
    </nav>
  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow ">Raphaela Tatto</h2>
        <span id="subtitle" class="text-white text-shadow">Ensino Médio Técnico T.I. SENAC</span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">

        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>

    <section class="container mt-5" id='sobre'>

      <div class=".row w-100">
        <div class="col-md-12">
          <h2 class='pt-3'>Sobre</h2>
          <p>Meu nome é Raphaela Oliveira Tatto,
            nasci em São Paulo e atualmente sou estudante do Ensino Médio técnico no SENAC,
            estou no último ano,
            e como trabalho de conclusão do curso estou fazendo um portfólio sobre tudo que aprendi durante esses anos no SENAC, logo após
            farei faculdade de ADS (Análise de desenvolvimento de sistemas) e cursos à parte para aprimorar meu
            conhecimento. </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/p1.png" alt="foto da Rapha">
        </div>
        <div class="col-md-8">
          <h3> Ensino Médio Técnico </h3>
          <p>  No último ano do Ensino Médio Técnico SENAC,
            aprendi programção em java no ApacheNetbenas, front-end, back-end, Banco de Dados no SQL, SQLite, MySql e
            Redes como cabeamento, sistemas de empresas etc.</p>
          
            <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Data de Nascimento: <span class="fw-lighter">
                    19 de Dezembro de 2005
                  </span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">
                    17 anos
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">
                    São Paulo
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">
                    São Paulo
                </li>

              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
              
                <li class="list-group-item">Hard Skills: <span class="fw-lighter">
                    Programação em java, HTML e CSS </li>
                <li class="list-group-item">Soft Skills: <span class="fw-lighter">
                     comunicativa</li>
                     <li class="list-group-item">Hobby: <span class="fw-lighter">
                      Jogar Futebol </li>
                      <li class="list-group-item">Eventos: <span class="fw-lighter">
                        Futurecom  </li>

              </ul>
            </div>
          </div>
             
             <p>
              Acredito que a tecnologia é o futuro, então quem quer trabalhar nessa área precisa sempre estudar para se atualizar de novas tecnologias.
               E é o que eu faço estou sempre tentando aprimorar meu conhecimento fazendo cursos a parte da escola para poder ingressar 
               no mercado de trabalho com mais aprendizados.
            </p>


        </div>
      </div>



    </section>

    <section class="mt-5 section-bg" id="habilidades">

      <div class="container pb-5">
        <h2 class="pt-5">Habilidades</h2>
        <p> Durante esses anos de estudos eu adquiri algumas habilidades,
           dentre elas habilidades técnicas e não técnicas, aqui em baixo estão alguma delas de acordo
            com a porcentagem de conhecimento que eu acredito ter em cada uma delas. </p>
           
            <div class="row">
             <div class="col-md-6">
              <p class="mt-3 mb-0"> HTML</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 40%">40%</div>
             </div> 
            <p class="mt-3 mb-0"> CSS</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 30%">30%</div>
            </div>
                <p class="mt-3 mb-0"> Banco de dados</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">50%</div>
              </div>
                <p class="mt-3 mb-0"> Java</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 40%">40%</div>
              </div>
                
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0"> SQL</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="60" aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
            
              <p class="mt-3 mb-0"> Bootstrap</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="60" aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>

                <p class="mt-3 mb-0"> Python</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
                </div>
                <p class="mt-3 mb-0"> Pacote Office </p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
                
            </div>
           
             </div>

             <hr class="w-50 me-auto ms-auto">
             
             <div class="row">
                <div class="col-md-6">
                  <p class="mt-3 mb-0">Trabalho em equipe</p>
                  <div class="progress">
                      <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                          aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                  </div>

                  <p class="mt-3 mb-0">Proatividade</p>
                  <div class="progress">
                      <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                          aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                  </div>

                  <p class="mt-3 mb-0">Orientação a detalhes</p>
                  <div class="progress">
                      <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
              </div>  
              
              <div class="col-md-6">
                  <p class="mt-3 mb-0">Comunicação</p>
                  <div class="progress">
                      <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                          aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                  </div>

                  <p class="mt-3 mb-0">Empatia</p>
                  <div class="progress">
                      <div class="progress-bar" data-anime="left" role="progressbar" style="width: 97%;"
                          aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">97%</div>
                  </div>

                  <p class="mt-3 mb-0">Comprometimento</p>
                  <div class="progress">
                      <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                          aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                  </div>
              </div>
          
             </div>
      </div>
      

    </section>

    <section class="mt-5 cv" id="curriculo">

      <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>

              <div class="cv-item">
                <h4>Ensino Fundamental completo </h4>
                <h5>2014 - 2020</h5>
                <p><em>Escola Poty</em></p>
                <p> Ensino fundamental completo 
                  na Escola Poty com método Montessori.</p>
              </div>

              <div class="cv-item">
                <h4>Técnico em Informática </h4>
                <h5>2021 - 2023</h5>
                <p><em>SENAC (Serviço Nacional de Aprendizagem Comercial )</em></p>
                <p>Curso voltado a programação de computadores e suporte técnico 
                  afim de enteder demandas de uma corporação, contribuindo para o 
                  crescimento  e aperfeiçoamento dos processos de tecnologia.</p>
              </div>

              <div class="cv-item">
                <h4>Faculdade de ADS (Ánalise de desenvolvimento de sistemas) </h4>
                <h5>2024 - 2025</h5>
                <p><em>FIAP</em></p>
                <p> Curso voltado a 
                  desenvolver e implementar softwares para atender as 
                  necessidades das empresas, utilizando técnicas de programação 
                  e gestão de projetos 
                  para criar soluções inovadoras e eficientes. </p>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="cv-title">Objetivo Profissional</h3>

              <div class='cv-item' data-anime="up">
                  <h4>Em busca do meu primeiro emprego</h4>
                  <p>Á procura de um Estágio na area de T.I. para aprimorar meu
                     conhecimento e colocar tudo que eu aprendi em prática.</p>
              </div>

              <div class='cv-item' data-anime="up">
                  <h4>Nova experiência </h4>
                  <p> Gostaria de ter uma nova experiência e aprender como funciona o mercado de trabalho. </p>
              </div>

              <div class='cv-item' data-anime="up">
                  <h4>Finaceiro</h4>
                  <p> Quero ter minha indepêndecia finaceira, porque desde ja quero investir para no futuro ter minha própia empresa.</p>
              </div>

          </div>

      

    </section>

    <section id="portfolio" class="section-bg mt-5">
      <div class="container pb-5 pt-5" data-anime="left">

          <h2 class="pb-4">Portfólio</h2>

          <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                      aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">

                      <div class="row row-cols-1 row-cols-md-3 g-4">
                          <div class="col">
                              <div class="card">
                                  <img src="../static/img/lg.png" class="card-img-top"
                                      alt="lg">
                                  <div class="card-body">
                                      <h5 class="card-title">Romantismo</h5>
                                      <p class="card-text">Explicação de algumas obras do Romantismo e características. 
                                        Utilizando o Word.</p>
                                      <div class="d-flex justify-content-center">
                                          <a href="https://senacspedu-my.sharepoint.com/:w:/g/personal/raphaela_otatto_senacsp_edu_br/EXSJCBwqrrxFqz_sdBdpmvIBpmgRGDUEseTrfgKrvUjDZw?e=wj0NdK" 
                                          target='_blank'
                                              class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card">
                                  <img src="../static/img/Think me.png" class="card-img-top img-fluid w-100"
                                      alt="ti">
                                  <div class="card-body">
                                      <h5 class="card-title">App ThinkMe</h5>
                                      <p class="card-text">Nesse trabalho realizei junto com meu grupo uma rede social, 
                                        utilizando java, Netbeans e MySql.</p>
                                      <div class="d-flex justify-content-center">
                                          <a href="https://github.com/raphatatto/ThinkMe.git"
                                              target='_blank' class="btn btn-outline-dark me-3"><i
                                                  class="bi bi-github"></i></a>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card">
                                  <img src="../static/img/cn.png" class="card-img-top img-fluid w-100"
                                      alt="cn">
                                  <div class="card-body">
                                      <h5 class="card-title">Vídeo-Chernobyl</h5>
                                      <p class="card-text"> vídeo sobre o acidente que ocorreu em chernobyl, explicação dos efeitos que a radiação causou e um pouco da história.</p>
                                      <div class="d-flex justify-content-center">
                                          <a href="https://www.youtube.com/watch?v=95rnoDspuyI"
                                           target='_blank'
                                              class="btn btn-outline-dark me-3"><i class="bi bi-youtube"></i></a>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="carousel-item" data-bs-interval="2000">
                      <div class="row row-cols-1 row-cols-md-3 g-4">
                          <div class="col">
                              <div class="card h-100">
                                  <img src="../static/img/pesquisa estatística.png" class="card-img-top img-fluid w-100"
                                      alt="mat">
                                  <div class="card-body">
                                      <h5 class="card-title">Demanadas do Senac</h5>
                                      <p class="card-text">Pesquisa sobre as demandas do SENAC. Para realizar essa pesquisa entrevistamos alunos do campus para saber o que está faltando no SENAC e ao redor. 
                                        As plataformas utilizadas forma: excel, sway e word. 
                                          
                                          </p>
                                      <div class="d-flex justify-content-center">
                                          <a href="https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&token=3a57f2e7434347a48a18690064dd590f&id=HjuebwkYSkSB04LUCpKIEsCW6Z7KIRdDrtxPVwHCzlhUNDUxWFYyMTQ5RU9LOFVFMVdPSFhUNjQ4MC4u&analysis=true&topview=Preview" 
                                          target='_blank'
                                              class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card h-100">
                                  <img src="../static/img/ch.png" class="card-img-top img-fluid w-100"
                                      alt="print do blog">
                                  <div class="card-body">
                                      <h5 class="card-title">Debate da ONU</h5>
                                      <p class="card-text"> Simulação da ONU, onde representei o Brasil com tema da crise dos refugiados, nesse debate apresentamos um DPO (documento de posição oficial) 
                                        do Brasil para apresentar nossas propostas sobre a crise dos refugiados.</p>
                                      <div class="d-flex justify-content-center">
                                          <a href="https://file.notion.so/f/f/21cf5c0d-fe13-4121-bae1-bc31c9069db0/aa60caca-2122-4bda-a444-575498e4aa1f/DPO_-_Brasil_(1).pdf?id=02b386aa-9cbf-43af-b8e9-2ba841b93804&table=block&spaceId=21cf5c0d-fe13-4121-bae1-bc31c9069db0&expirationTimestamp=1701475200000&signature=h_KGhr_i0m3mip8aSPXN6kjYvG9vML0qyC0B4OQEFyo&downloadName=DPO+-+Brasil+%281%29.pdf"
                                              target='_blank' class="btn btn-outline-dark me-3"><i
                                                  class="bi bi-link-45deg"></i></a>
                                         
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card h-100">
                                  <img src="../static/img/db.png" class="card-img-top img-fluid w-100"
                                      alt="print do blog">
                                  <div class="card-body">
                                    <h5>Diário de bordo</h5>
                                      <p class="card-text">Projeto realizado na área de linguagens afim de mostrar todos os conteúdos passados durante os bimestres
                                          e descrever as experiências que tivemos e aprendizados.
                                          </p>
                                      <div class="d-flex justify-content-center">
                                          
                                          <a href="https://www.canva.com/design/DAFfDIx4VuU/HMc0FO7Gw-1vNiXwGHIltw/edit?utm_content=DAFfDIx4VuU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton target='_blank'"
                                              class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>

      </div>
  </section>

  <section id="informacao" class="mt-5 cv"> 
    <h2 class="pb-4">Informações</h2>

    <div class=" container pb-3 pt-3 card-group">
      <div class="card">
        <img src="../static/img/Automação.png" class="card-img-top" alt="Automação">
        <div class="card-body">
          <h4 class="card-title">Automação</h4>
          <p class="card-text"><h5 class="mt-3">Definição de Automação: </h5>Automação se refere à utilização de tecnologia para executar tarefas com pouca ou nenhuma intervenção humana.

            <h5 class="mt-3">Benefícios da Automação:</h5>  Existem alguns benefícios, como aumento da eficiência, redução de erros, economia de tempo e recursos, além do potencial para aprimorar a qualidade do trabalho.
            
            <h5 class="mt-3">Setores e Aplicações: </h5>Setores em que a automação é aplicada: manufatura, saúde, serviços financeiros, marketing digital, agricultura, entre outros.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="../static/img/Metaverso.png" class="card-img-top" alt="Metaverso">
        <div class="card-body">
          <h4 class="card-title">Metaverso</h4  >
          <p class="card-text"><h5 class="mt-3">Definição de Metaverso:</h5>Metaverso é um espaço virtual onde indivíduos interagem entre si e com objetos digitais em um ambiente tridimensional, 
            utilizando avatares e diversas formas de tecnologia.

            <h5 class="mt-3">Elementos do Metaverso:</h5>Relidade virtual, realidade aumentada, blockchain, inteligência artificial, entre outros, 
            que se unem para criar experiências imersivas e interativas.
            
            <h5 class="mt-3">Aplicações do Metaverso: </h5>Áreas onde o metaverso está sendo aplicado; jogos, entretenimento, educação, comércio, reuniões virtuais, 
            imóveis virtuais e até mesmo na criação de ambientes de trabalho colaborativos.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="../static/img/RA.png" class="card-img-top" alt="ra">
        <div class="card-body">
          <h4 class="card-title">Realidade Aumentada (RA)</h4>
          <p class="card-text"><h5 class="mt-3"> Definição de RA:</h5> O conceito de RA, adiciona camadas de informações virtuais, como gráficos, sons ou outros elementos digitais, 
            ao mundo físico de dispositivos como smartphones, óculos ou tablets.</p>

            <h5 class="mt-3"> Funcionamento da RA :</h5> O RA é capaz de reconhecer padrões e objetos no mundo real por meio de câmeras e sensores,
             e eles exibem informações adicionais sobre esses elementos.</p>

            <h5 class="mt-3"> Aplicações da RA :</h5> O RA é utilizado, em entretenimento (jogos, filmes, etc.), educação (livros interativos, aulas imersivas), varejo (experimentação de produtos),
             saúde (treinamento de cirurgiões, diagnósticos) , entre outros.</p>
          
        </div>
      </div>
    </div>
    <div class=" container pb-3 pt-3 card-group">
      <div class="card">
        <img src="../static/img/IA.png" class="card-img-top" alt="ia">
        <div class="card-body">
          <h4 class="card-title">Inteligência Artificial (IA) </h4>
          <p class="card-text"> <h5 class="mt-3"> O que é IA :</h5> Inteligência Artificial (IA) é um ramo da ciência da computação que se concentra no desenvolvimento 
            de sistemas e algoritmos capazes de realizar tarefas que normalmente exigem inteligência humana.</p>
          <h5 class="mt-3"> Tipos de IA :</h5> IA fraca (especializada em tarefas específicas, como reconhecimento de voz, chatbots) e IA 
          forte (capaz de realizar uma variedade de tarefas e aprender como um ser humano).</p>
          <h5 class="mt-3"> Aplicações da IA : </h5>  IA é aplicada em setores como saúde (diagnósticos médicos, descoberta de medicamentos), finanças (análise de dados, previsão de mercado), automação industrial, 
          veículos autônomos, assistentes virtuais, entre outros.</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/ML.png" class="card-img-top" alt="ML">
        <div class="card-body">
          <h4 class="card-title">Machine Learning</h4>
          <p class="card-text"> <h5 class="mt-3"> Definição de Machine Learning:</h5>  A IA é aplicada em setores como saúde (diagnósticos médicos, descoberta de medicamentos), 
            finanças (análise de dados, previsão de mercado), automação industrial, veículos autônomos, assistentes virtuais, entre outros.</p>

          <h5 class="mt-3"> Tipos de Aprendizado: </h5> É um conjunto de métodos que permitem aos computadores aprenderem padrões a partir de dados, sem serem explicitamente programados para isso. 
          Além  realizar tarefas específicas através do reconhecimento de padrões e tomada de decisões</p>

          <h5 class="mt-3"> Aplicações de Machine Learning:</h5> Supervisionado (treinamento com dados rotulados), aprendizado não supervisionado
           (descoberta de padrões em dados não rotulados) e aprendizado por reforço (aprendizagem baseada em recompensas).</p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/dl.png" class="card-img-top" alt="dl">
        <div class="card-body">
          <h4 class="card-title">Deep Learning</h4>
          <p class="card-text">
            <h5 class="mt-3"> Definição de Deep Learning: </h5>   A Deep Learning uma técnica de Aprendizado de Máquina baseada em redes neurais profundas, compostas por múltiplas camadas de neurônios artificiais,
             capazes de aprender automaticamente representações de alto nível a partir dos dados.</p>

          <h5 class="mt-3"> Redes Neurais Profundas: </h5> ÉRedes Neurais Convolucionais (CNNs) para processamento de imagens, Redes Neurais Recorrentes (RNNs) para dados sequenciais 
          (como texto) e as Redes Neurais Generativas (GANs) para criar novos dados realistas.</p>

          <h5 class="mt-3"> Funcionamento do Deep Learning:</h5> O funcionamento da Deep Learning é através de hierarquias de representações de dados, 
          passando informações através de várias camadas, realizando operações matemáticas e ajustando os pesos das conexões entre os neurônios.</p>

           <h5 class="mt-3"> Aplicações de Deep Learning:</h5> Visão computacional (reconhecimento de objetos, segmentação de imagens), 
           processamento de linguagem natural (tradução automática, sumarização de texto), medicina (diagnósticos médicos), entre outros.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-5 pb-5" id="contato">

    <div class="container mb-5">
      <h2 class="pt-3 pb-3">Contato</h2>

      <div class="row">

        <div class="col-m-5">
          <div class="card p-5 shadow border-0">
              <h4><i class="bi bi-geo-alt"></i> Localização</h4>
              <p>São Paulo, SP</p>
          </div>

          <div class="email">
            <h4><i class="bi bi-geo-alt"></i> Localização</h4>
            <p>São Paulo, SP</p>
          </div>
        </div>

        <div class="col-md-7">

        </div>
      </div>
    </div>

  </section>
  </main>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>